<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link href="css/jquery.material.form.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/jquery.material.form.js"></script>
    <script src="js/app.js"></script>
    <script src="js/form-validation.js"></script>
    <link rel="stylesheet" href="css/login-signup.css">
    <link rel="stylesheet" href="css/font-face.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
<body ng-app="railPaaraApp">

<div data-role="page" id="loginPage" ng-controller="loginController">
    <div id="cover"> </div>
    <div data-role="main" class="ui-content" id="content">
        <div class="ui-grid-b ui-responsive" id="loginform">
            <div class="ui-block-a" style="text-align: left;"></div>
            <div class="ui-block-b" style="text-align: center;">
                <img class="logo" src="images/new_icons/logo.png"/>
                <input type="text" ng-model="username" name="user" id="usrname" placeholder="Username">
                <input type="password" ng-model="password" class="textbox" name="password" id="pwrd" placeholder="Password">
                <a rel="external" href="" ng-click="login(username, password)"><input type="image" src="images/new_icons/sing%20in.png" alt="Submit"
                                                                                      data-role="submit" style="height: 4em; margin-top: 1em;"></a>
                <p style="font-family:Raleway;">Don't have an Account? <a style="font-family:Raleway;" href="signUp.html" data-transition="fade">Sign Up</a></p>
                <p style="font-family:Raleway;" >Forgot your password? <a style="font-family:Raleway;" href="recoverpassword.html">Recover Password</a></p>
            </div>
            <div class="ui-block-c" style="text-align: right;"></div>
        </div>
    </div>
    <!-- End of first page -->



</div>
</body>
</html>